 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Tech Detail</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
		<p class="subtitle"> Clojure </p>
                <p>We are specialized in Clojure, a powerfull languange that let us ship products with confidence and velocity. </p>
                </div>
              <div class="col-lg-4">
		<p class="subtitle"> ...and everything else </p>
                <p> However our deep domain knowledge, let us being competitive with any technolgies you are already using, from C to the last JavaScript framework </p>
                </div>
            </div>
	    
        </div>
    </section>
