
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> We Make you Success </h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
	      <div class="col-sm-4 skills">
		<img class="img-responsive center-block" src="img/comunicate.svg" style="max-height:150px;">
		<p class="subtitle"> Great Comunication </p>
		<p> We will keep update you about the status of the projects, you will be in control.</p>
	      </div>
	      <div class="col-sm-4 skills">
		<img class="img-responsive center-block" src="img/programming.svg">
		<p class="subtitle"> Skilled Developers </p>
		<p> We guarantee a stable, solid, and performant solution for your business requirement.</p>
	      </div>
	      <div class="col-sm-4 skills">
		<img class="img-responsive center-block img-write" src="img/revenue.svg">
		<p class="subtitle"> Business Reasoner </p>
		<p> We understand business, we don't make engineer for its own sake. We create real value.</p>
	      </div>
              <!--  {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
		    <div class="col-sm-4 portfolio-item">
		      <p> nvtuinvrn </p>
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %} -->
            </div>
        </div>
    </section>
