
    <!-- Portfolio Grid Section -->
    <section id="success_stories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> Success Stories </h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
	      <div class="col-sm-12 skills">
		<img style="padding:5em" class="img-responsive center-block" src="img/workinvoice.png" style="max-height:150px;">
	      </div>
	    
	    </div>
            
            </div>
        </div>
    </section>
